body {
	font-family: AirbnbCereal-Bold, helvetica, sans-serif;
	background-color: #f8fbff;
	color: #484848;
}




.pagina {
			/*width: 1120px;*/
			width:auto;
			max-width: 1120px;
			margin: auto;
			margin-top: 18px;
			/*margin-top: 10px;*/
			/*color: #6772e5; */
			}

/*inicio css - CCS menu navegacion*/

.div {
	display: inline-flex;
	float: right;
	margin-left: auto;
}


.menu {
	/*width: 1120px;*/
	display: flex;
	margin-top:18px;
	max-width: 1120px;
	margin: auto;
}

header figure {
	margin: 0px
	float: right;
	display: none;
    align-items: center;
    margin: auto;
}

.menu_urlContent_320 {
 display: none;
}


.menu_url {
	display: inline;
    color: #e80c46;
    border-radius: 5px;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 15px;
	border: 1px solid #e80c46;
}

.menu_url:hover {
	box-shadow: 0px 0px 2px #e80c46;
}

.menu_logo {
	display: inline;
	color:  #e80c46;
	font-size: 19px;
	cursor: pointer;
	text-decoration: none
	/*font-family: AirbnbCereal-Light;*/

}


header {
	margin-top:18px;
}

header ol {
	display: inline;
	
}

header li {
	display: inline;

}

/*Fin - CSS menu navegacion*/

/*Inicio css hero*/

.hero {
	/*width: 1120px;*/
	max-width: 1120px;
	height: 517px;
	display: flex;
	
}

.hero_title {
	font-size: 35px;
	line-height: 42px;
	letter-spacing: 0.2px;
	margin:0px;
}

.hero_subtitle {
	font-family: AirbnbCereal-Book;
	font-size: 17px;
	margin-top: 4px;
	margin-bottom:0px;
	display: block;
}

.hero_subtitle2{
	display: none;
}


.hero-copys {
	width: 637px;
	height: 185px;
	margin-top:185px;
}

.hero_imageContainer2 {
    width: 245px;
    height: 263px;
    display: none;
}


.hero_imageContainer2 {
	width: 245px;
	height: 263px;
	margin:0px;
	display: none;
}

.hero_image2{
	width: 245px;
	height: 263px;
	margin:0px;
	display: none;
}



.hero_imageContainer {
	width: 483px;
	height: 517px;
	margin:0px;
}

.hero_lineContainer {
	margin-top: -2px;
}

 .hero_line{ 
	margin-top: 1px;
	margin-left: 346px;
 }

 /*Fin css hero*/

/*CSS Description*/

.description {
	/*width: 1120px;*/
	max-width: 1120px;
	display: block;
}

.description-head {
    padding-bottom: 3em;
    max-width: 44em;
    margin: auto;
    z-index: 100!important;
}

.description_title{
	margin-top: 80px;
	font-size: 36px;
	text-align: center;
}

.description_subTitle {
	font-family: AirbnbCereal-Light;
	width: auto;
	text-align: center;
	font-size: 23px;
	display: block;
	
}

.description_subTitle2 {
	font-family: AirbnbCereal-Light;
	width: auto;
	text-align: center;
	font-size: 23px;
	display: block;

}

.description_imageContainer {
	text-align: center;
	display: block;
	    width: auto;
	margin-top: 69px;
}

/*Fin css Description*/

/*inicio css tutorial*/

.tutorial { 
	width: 1120px;
	height: 470px;
	display: inline-flex;
	margin-top:11.5px;

}

.tutorial_title {
	width: auto;
	height: 47px;
	font-size: 36px;
    text-align: center;
}

.tutorial_span {
	font-family: AirbnbCereal-Light;
	font-size: 22px;

}

.tutorial_container{
	width: 252px;
	height: 333px;
}

#span-one{
	width: 222px;
    height: 60px;
    display: inline-block;
    text-align: center;
    margin-left: 12px;
    margin-top: 21px;
}

#span-two{
	width: 208px;
    height: 60px;
    display: inline-block;
    text-align: center;
    margin-left: 19px;
    margin-top: 21px;
}

#span-three{
	width: 172px;
    height: 60px;
    display: inline-block;
    text-align: center;
    margin-left: 37px;
    margin-top: 21px;
}



#container_two{
	margin-left: 100px;
}

#container_three{
	margin-left: 100px;
}

/*Fin css Tutorial*/

/*inicio css gif*/

.gif_title {
	width: auto;
	height: 47px;
	font-size: 36px;
    text-align: center;
}

.gifContainer {
	height: 500px;
	font-size: 36px;
    margin-top: 129px;
    margin-bottom: 0px;
}

.gif_image{
	margin-left: 310px;
}

/*fin gif*/

/*inicio arrow*/

.arrow_container {
	text-align: center;
    display: block;
    width: auto;
    margin-top: 20px;
}

/*fin arrow*/



/*inicio css beneficios*/

.benefit_container_one {
	display: flex;
	align-items: center;
   	justify-content: space-around;
}

.benefit_description_container1 {
	display: block;
	width: 469px;
}


.benefit_title1 {
	font-family: AirbnbCereal-Book;
    font-size: 36px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_one {
	font-family: AirbnbCereal-Light;
	margin-top: 10px;
	font-size: 23px;
	width: 469px;
	line-height: 28px;
}

.benefit_container_two {
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.benefit_descrpition_container2 {
	display: block;
	width: 516px;
}

.benefit_title2 {
	font-family: AirbnbCereal-Book;
    font-size: 36px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_two {
	font-family: AirbnbCereal-Light;
	margin-top: 10px;
	font-size: 23px;
	width: 516px;
	line-height: 28px;
}

.benefit_container_Three {
	display: flex;
	align-items: center;
    justify-content: space-around;
}

.benefit_description_container3 {
	display: block;
	width: 482px;
}

.benefit_description_three {
    font-family: AirbnbCereal-Light;
    margin-top: 10px;
    font-size: 23px;
    width: 440px;
    line-height: 28px;
}

.benefit_title3 {
	font-family: AirbnbCereal-Book;
    font-size: 36px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_image_three {
	margin-left: -26px;
}

/*fin beneficios*/


.cities_image {
	position: relative;
    top: 101px;
    right: -40px;
    z-index: 3;
}

.cities_title {
	width: 1120px;
    height: 47px;
    font-size: 36px;
    text-align: center;
}

.cities {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: AirbnbCereal-Light;
    list-style: none;
}


/*line*/

.line{ 
	margin-top:135px;
	border-bottom: 1px solid red;
 }



/*inicio css footer*/


footer {
	width: auto;
	height: 383px;
	max-width: 1120px;
}

.form-email {
	display: flex;
	
}

.footer-cta{
		font-family: AirbnbCereal-Book;
        width: 293px;
	    height: 53px;
	    border-radius: 6px 0 0 6px;
	    border-right: none;
	    border: 1px solid #979797;
	    padding-left: 0.7em;
	    border: 1px solid #E80C46;
}

.footer-btn {
	font-family: AirbnbCereal-Book;
	padding: 0;
	width: 101.05px;
    height: 57px;
    border-color: #E80C46;
    background-color: #E80C46;
    border-radius: 0px 6px 6px 0px;
    color: lemonchiffon;
    cursor: pointer;
    margin-left: -1px;
    border: 1px solid #E80C46;
}


.footer-btnContainer{
	margin-left: -1px;
	 width: 101.05px;
    height: 59px;
}

footer {
	/*margin-top: 138px*/
}


footer .footer-rImageContainer {
	margin: 5px;
}

.footer_title {
	font-size: 32px;
	margin-top: 40px;
    margin-bottom: 18px;
	font-family: AirbnbCereal-Book;
}

.footer-title2{
	font-family: AirbnbCereal-Book;
    width: 1120px;
    height: 30px;
    font-size: 23px;
    text-align: center;
    display: block;
}

.footer-iosImageContaine{
	text-align: center;
	 display: block;

}

.footer-img{
	 display: block;
	 margin-left: 455px;
}

.footer-rImageContainer {
	width: 35px;
	height: 35px;
}

.footer-flex {
	 display: flex;
    justify-content: center;
	align-items: center;
	margin-top: 58px;
	margin-bottom: 30px;
}

.contenedor2 {
    width: auto;
    height: 42px;
    max-width: 1120px;
    margin: auto;
    margin-top: 10px;
    display: inline-block;
    
}

.h2 {
    display: block;
    height: 42px;
    width: auto;
    color: #E80C46;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0.83px;
    margin-inline-end: 18px;
    text-align: center;
    max-width: 1120px;
    margin:0;
}

@media screen and (max-width: 800px) {

	body {
	
		max-width: auto;
		font-family: AirbnbCereal-Bold, helvetica, sans-serif;
}

	.pagina {
			width: auto;
			max-width: 740px;
			margin: auto;
			/*margin-top: 10px;*/
			/*color: #6772e5; */
			}


	/*inicio css - CCS menu navegacion 800px*/

.div {
	display: inline-flex;
	float: right;
	margin-left: auto;
}


.menu {
	width: auto;
	display:flex;
	margin-top:18px;
	max-width: 740px;
	margin: auto;
	align-items: center;
}

header figure {
	margin: 0px
	float: right;
	display: none;
    align-items: center;
    margin: auto;
}

.menu_urlContent_320 {
 display: none;
}

.menu_url {
	display: inline;
    color: #e80c46;
    border-radius: 5px;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 15px;
	box-shadow: 0px 0px 3px #999;
	border: 1px solid #e80c46;
}

/*.menu_url:hover {
	color: #e80c46;
	background-color:white;
	box-shadow: none;
}*/

.menu_logo {
	display: inline;
	color:  #e80c46;
	font-size: 19px;
	cursor: pointer;
	/*font-family: AirbnbCereal-Light;*/

}

header {
	margin-top:10px;
}

header ol {
	display: inline;
	
}

header li {
	display: inline;

}

	/*inicio css hero 800px*/


.hero {
	width: auto;
	max-width: 740px
	height: 658px;
	display: inline;
	
}

.hero-copys {
	width: 660px
	height:138px;
	margin:0;
	display: initial;
}

.hero_title {
	font-size: 35px;
	line-height: 42px;
	letter-spacing: 0.2px;
	margin:0px;
	text-align: center;
}

.hero_subtitle {
	font-family: AirbnbCereal-Book;
	font-size: 17px;
	margin-top: 4px;
	margin-bottom:0px;
	text-align: center;
}

.hero_subtitle2{
	display: none;
}

.hero_imageContainer {
	width: 483px;
	height:517px;
}

.hero_image {
	 margin-left: 130px;
	 width: 483px;
	height:517px;
}

.hero_lineContainer {
	margin:0px;
}

 .hero_line{ 
 		margin-top: 1px;
	    margin-left: 472px;
 }


 /*Fin css hero*/

 /*inicio description 800px*/



/*fin description 800px*/

.tutorial_title {
	width: auto;
}

.tutorial {
	display: block;
	width: 649px;
	height: 808px;
	margin: 0px;
	margin-left: 30px;
}

#container_one {
	width: 649px;
    height: 252px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    margin-bottom: 30px;
}

#container_two {
	width: 649px;
    height: 252px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    margin-bottom: 30px;
}

#container_three {
	width: 649px;
    height: 252px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    margin-bottom: 30px;
}


/*inicio gif*/

.gif_title {
    width: auto;
    height: 47px;
    font-size: 36px;
    text-align: center;
    margin-top: 75px
}

.gifContainer {
    height: 500px;
    font-size: 36px;
    margin-top: 129px;
    margin-bottom: 0px;
}

.gif_image {
    margin-left: 130px;
}

.arrow_container {
    text-align: center;
    display: block;
    width: auto;
    margin-top: 20px;
}


/*inicio benefit*/

.benefit {
	width: 719px;
	height: 1530px;
	display: inline-block;
	text-align: center;
}

.benefit_container_one {
	display: inline-block;
	 width: 719px;
    height: 475px;
	margin-bottom: 108px;
}

.benefit_title1{
	margin-top: 0px;
}

.benefit_description_container1{
	width: 719px;
	height: 475px;
	
}

.benefit_description_one{
	display:block;
	width: 719px;
    height: 120px;
}

.benefit_title2 {
	margin-top: 0;
}


.benefit_container_two {
	display: inline-block;
	width: 656px;
    height: 441px;


}

.benefit_description_two{
	 display: inline-block;
	 width: 656px;
    height: 86px;    
    
}

.benefit_description_container3{
	width: 666px;
    height: 157px;
	
}


.benefit_container_Three {
	display: inherit;
	width: 666px;
    height: 500px;
	margin-top:57px;  
}

.benefit_title3{
	margin-top:0px;
}


.benefit_description_three{
	 display: inline-block;
	 width: 666px;
    height: 84px;  

    
}


.cities_title {
    width: 740px;
    height: 47px;
    font-size: 29px;
    text-align: center;
    margin:0px;
}

.cities {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: AirbnbCereal-Light;
    list-style: none;
}

.cities  {
	padding: 0px;
	margin:0px;
}

.cities_image {
    position: relative;
    top: 72px;
    right: 50px;
    z-index: 3;
}

.footer-flex {

}

.footer_title {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 501px;
    height: 86px;
    font-family: AirbnbCereal-Book;
}

.form-email {
    display: flex;
}

.contenedor2 .h2 {
    display: block;
    height: 42px;
    width: auto;
    color: #E80C46;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0.83px;
    margin-inline-end: 18px;
    text-align: center;
    max-width: 740px;
    margin: 0;
}


}
/*termina query 800px*/

@media screen and (max-width: 414px) {

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dzni82');
  src:  url('fonts/icomoon.eot?dzni82#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dzni82') format('truetype'),
    url('fonts/icomoon.woff?dzni82') format('woff'),
    url('fonts/icomoon.svg?dzni82#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel:before {
  content: "\ea0d";
}

.pagina {
	
	/*width: 1120px;*/
	text-align:center;
	max-width: 280px;
	margin: auto;
	/*margin-top: 10px;*/
	/*color: #6772e5; */
			
}

header {
	margin-top:10px;
}

header ol {
	display: none;
	
}

header li {
	display: inline;

}

header figure {
	margin: 0px
	float: right;
	display: flex;
    align-items: center;
    margin: auto;
}
.div {
	display: flex;
	margin-left: auto;
}



.contenedor{
	position: fixed;
}

.menu {
	/*width: 1120px;*/
	display: flex;
	margin-top:18px;
	margin: auto;
	max-width: 280px;
}



.menu_urlContent_320 {
	position: fixed;
	width:100%;
	margin: auto;
	list-style: none;
	display: block;
	background: rgba(232, 12, 70, .8 );
    color: white;
	text-decoration: none;
	/*padding: 7px 13px 5px 14px;*/
	font-size: 15px;
	box-shadow: 0px 0px 3px #999;
	left: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	transition: .3s;
}

.menu_urlContent_320.active{
	left: 0px;
	padding-left: inherit;
}

.menu_urlContent_320 ol {
	padding: 10px;
}

.menu_urlContent_320 li{
	flex: 1;
  	
}

.menu_url_2 {
	display: initial;
    color: white;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 15px;
	width: 100%
	flex:1;
	border: 1px solid white;
	border-radius:5px;
}

.menu_urlContent {
	display: none;
	background: #e80c46;
    color: white;
    border-radius: 5px;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 15px;
	box-shadow: 0px 0px 3px #999;
}

.menu_url {
	display: none;
	background: #e80c46;
    color: white;
    border-radius: 5px;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 10px;
	box-shadow: 0px 0px 3px #999;
}





.burguer-button{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background:#E80C46;
	color: #ffffff;
	cursor: pointer;
	z-index: 3;
	margin-left: -30px;
    margin-top: -15px;
    position: fixed;
}

.menu_hamburguer{
	display: none; /*inline*/
	float: right;
	margin: 0px;
	width: 30px;
	height: 16px;
}

.menu_contentBtn{
	display: none; /*inline-flex*/
	float: right;
	margin-left: auto;
	width: 30px;
	height: 16px;
	margin: auto;
}

/*hero 320px*/

.hero {
    width: 245px;
    height: 399px;
    display: inline-block;
    text-align: center;
    
}

.hero-copys {
    width: 245px;
    height: 399px;
    margin: 0;
    display: block;
    text-align: center;
}

.hero_title {
    width: 240px;
    height: 49px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.2px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    font-family: AirbnbCereal-Bold;
}

.hero_subtitle {
	display:none;
}

.hero_subtitle2{
	 font-family: AirbnbCereal-Light;
	width: 248px;
	height: 34px;
	font-size: 13px;
	display:block;
	margin-top: 14px;
    margin-bottom: 0px;
}


.hero_imageContainer {
	width: 245px;
	height: 263px;
	margin:0px;
	display: none;
}

.hero_image{
	width: 245px;
	height: 263px;
	margin:0px;
	display: none;
}


.hero_imageContainer2 {
    width: 245px;
    height: 263px;
    display: block;
}


.hero_imageContainer2 {
	width: 245px;
	height: 263px;
	margin:0px;
	display: block;
}

.hero_image2{
	width: 245px;
	height: 263px;
	margin:0px;
	display: block;
}

.hero_lineContainer{
	width: 74px;
	height: 7px;
	display: flex;
   margin-top: -7px;
}

.hero_line {
	width: 74px;
	height: 7px;
    margin-top: 1px;
     margin-left: 141px;
}


.description {
    max-width: 280px;
    display: block;
    margin-top: -7px;
}

.description_title {
    font-size: 18px;
    text-align: center;
        margin-top: 0;
}

.description_subTitle {
    font-family: AirbnbCereal-Light;
    width: 265px;
    /* line-height: 12; */
    height: 52px;
    text-align: center;
    font-size: 13px;
    display: block;
    /* margin-left: 0px; */
    margin: auto;
    margin-top: 46px;
}

.description_subTitle2 {
    font-family: AirbnbCereal-Light;
    width: 271px;
    /* line-height: 12; */
    height: 69px;
    text-align: center;
    font-size: 13px;
    display: block;
    /* margin-left: 0px; */
    margin: auto;
    margin-top: 8px;
}

.description_imageContainer {
	    margin: auto;
}

.description_image {
	width: 26px;
}


.tutorial_title {
    width: 280px;
    height: 23px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 46px;
}

.tutorial {
    display: block;
    width: 280px;
    height: 800px;
    margin: 0px;
    
}

.tutorial_container img {
	width: 178px;
}

#container_one {
    width: 178px;
    height: 234px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

#span-one {
    width: 158px;
    height: 34px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 21px;
    margin-bottom: 49px;

}


#container_two {
    width: 178px;
    height: 234px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

#span-two {
    width: 158px;
    height: 34px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 21px;
    margin-bottom: 49px;
}

#container_three {
    width: 178px;
    height: 234px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

#span-three {
    width: 158px;
    height: 34px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 21px;
	margin-bottom: 49px;
}

.gif_title {
    width: 280px;
    height: 23px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 46px;
}

.gifContainer {
    width: 248px;
    height: 248px;
    margin: auto;
}

.gif_image {
	width: 248px;
	 margin: auto;
}

.arrow_container {
    text-align: center;
    display: block;
    width: 280px;
   	margin: auto;
   	margin-top: 46px;
}

.arrow_image{
    width: 26px;
    height: 50px;
}


.benefit {
	margin-top: 30px;
    display: block;
    width: 280px;
    height: 762px;
    margin: 0px;
}

.benefit_container_one {
    width: 269px;
    height: 250px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_imageContainer_one{
	width: 269px;
    height: 250px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_image_one {
	width: 178px;
}

.benefit_description_container1 {
	width: 269px;
	height: 115px;
	margin-bottom: 30px;
}

.benefit_title1 {
    font-family: AirbnbCereal-Book;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_one {
	width: 269px;
	height: 87px;
	font-family: AirbnbCereal-Light;
    margin-top: 10px;
    font-size: 13px;
   line-height: 17px;
   
}

.benefit_container_two {
    width: 308px;
    height: 221px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_imageContainer_two {
	 width: 308px;
    height: 221px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_image_two {
	width: 196px;
}


.benefit_description_container2 {
	width: 228px;
	height: 24px;
	display: inherit;
}

.benefit_title2 {
    font-family: AirbnbCereal-Book;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_two {
    display: inline-block;
    width: 257px;
    height: 70px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 17px;
}


.benefit_container_Three {
    display: inherit;
    width: 243px;
    height: 240px;
    margin-top: 57px;
    margin: auto;
}


.benefit_imageContainer_three{
	 width: 170px;
    height: 138px;
}

.benefit_image_three{
	 width: 170px;
    height: 138px;
}

.benefit_description_container3{
	width: 237px;
	height: 72px;
	display: inherit;
}

.benefit_title3 {
    font-family: AirbnbCereal-Book;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_three {
    font-family: AirbnbCereal-Light;
    margin-top: 10px;
    font-size: 13px;
    width: 237px;
	height: 72px;
	line-height: 17px;
}


.cities_image {
    position: relative;
    top: 22px;
    right: 122px;
    z-index: 3;
    width: 95px;
}

.cities_container {
	margin-top: 30px;
	 width: 208px;
    height: 149px;
    margin: auto;
}

.cities_title {
    width: 208px;
    height: 46px;
    font-size: 17px;
    text-align: center;
    margin: 0px;
}

.cities {
    display: inline-block;
    align-items: center;
    font-size: 13px;
    font-family: AirbnbCereal-Light;
    list-style: none;
    width: 208px;
    height: 119px;
    margin: auto;
}

.cities li {
	margin-bottom:7px;
}

.line {
	margin-top: 35px;
}

.contenedor2 {
    width: auto;
    max-width: auto;
    margin: auto;
    /* margin-top: 40px; */
}

	.h2 {
	display: block;
	width: auto;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0.83px;
    margin-inline-end: 18px;
    text-align: center;
    max-width: auto;
}

footer {
	width: 280px;
	height: 270px;
}

.footer_title {
    font-size: 18px;
    margin: 40px auto ;
    margin-bottom: 12px;
    width: 221px;
    height: 69px;
    font-family: AirbnbCereal-Book;
}

.form-email {
    display: flex;
    width: 178.97px;
	height: 33px;
    margin-bottom: 25px;
}


.footer-ctaContainer {
	width: 178.97px;
	height: 57px;
}

.footer-cta {
    font-family: AirbnbCereal-Book;
    font-size: 13px;
    width: 221px;
    height: 33px;
    border-radius: 6px 0 0 6px;
    border-right: none;
    border: 1px solid #979797;
    padding-left: 0.7em;
    border: 1px solid #E80C46;
}

.footer-btn {
    font-family: AirbnbCereal-Book;
    padding: 0;
    width: 101.05px;
    height: 37px;
    border-color: #E80C46;
    background-color: #E80C46;
    border-radius: 0px 6px 6px 0px;
    color: lemonchiffon;
    cursor: pointer;
    margin-left: -1px;
    border: 1px solid #E80C46;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 58px; */
    margin-bottom: 30px;
}

}

/*termina query 414px*/

/*inicia query 375px*/

@media screen and (max-width: 375px) {

	body {
		height: 3500px
	}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dzni82');
  src:  url('fonts/icomoon.eot?dzni82#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dzni82') format('truetype'),
    url('fonts/icomoon.woff?dzni82') format('woff'),
    url('fonts/icomoon.svg?dzni82#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel:before {
  content: "\ea0d";
}

.pagina {
	
	/*width: 1120px;*/
	text-align:center;
	max-width: 280px;
	margin: auto;
	/*margin-top: 10px;*/
	/*color: #6772e5; */
			
}

header {
	margin-top:10px;
}

header ol {
	display: none;
	
}

header li {
	display: inline;

}

header figure {
	margin: 0px
	float: right;
	display: flex;
    align-items: center;
    margin: auto;
}
.div {
	display: flex;
	margin-left: auto;
}



.contenedor{
	position: fixed;
}

.menu {
	/*width: 1120px;*/
	display: flex;
	margin-top:18px;
	margin: auto;
	max-width: 280px;
}



.menu_urlContent_320 {
	position: fixed;
	width:100%;
	margin: auto;
	list-style: none;
	display: block;
	background: rgba(232, 12, 70, .8 );
    color: white;
	text-decoration: none;
	/*padding: 7px 13px 5px 14px;*/
	font-size: 15px;
	box-shadow: 0px 0px 3px #999;
	left: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	transition: .3s;
}

.menu_urlContent_320.active{
	left: 0px;
	padding-left: inherit;
}

.menu_urlContent_320 ol {
	padding: 10px;
}

.menu_urlContent_320 li{
	flex: 1;
  	
}

.menu_url_2 {
	display: initial;
    color: white;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 15px;
	width: 100%
	flex:1;
	border: 1px solid white;
	border-radius:5px;
}

.menu_urlContent {
	display: none;
	background: #e80c46;
    color: white;
    border-radius: 5px;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 15px;
	box-shadow: 0px 0px 3px #999;
}

.menu_url {
	display: none;
	background: #e80c46;
    color: white;
    border-radius: 5px;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 10px;
	box-shadow: 0px 0px 3px #999;
}





.burguer-button{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background:#E80C46;
	color: #ffffff;
	cursor: pointer;
	z-index: 3;
	margin-left: -30px;
    margin-top: -15px;
    position: fixed;
}

.menu_hamburguer{
	display: none; /*inline*/
	float: right;
	margin: 0px;
	width: 30px;
	height: 16px;
}

.menu_contentBtn{
	display: none; /*inline-flex*/
	float: right;
	margin-left: auto;
	width: 30px;
	height: 16px;
	margin: auto;
}

/*hero 320px*/

.hero {
    width: 245px;
    height: 399px;
    display: inline-block;
    text-align: center;
    
}

.hero-copys {
    width: 245px;
    height: 399px;
    margin: 0;
    display: block;
    text-align: center;
}

.hero_title {
    width: 240px;
    height: 49px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.2px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    font-family: AirbnbCereal-Bold;
}

.hero_subtitle {
	display:none;
}

.hero_subtitle2{
	 font-family: AirbnbCereal-Light;
	width: 248px;
	height: 34px;
	font-size: 13px;
	display:block;
	margin-top: 14px;
    margin-bottom: 0px;
}


.hero_imageContainer {
	width: 245px;
	height: 263px;
	margin:0px;
	display: none;
}

.hero_image{
	width: 245px;
	height: 263px;
	margin:0px;
	display: none;
}


.hero_imageContainer2 {
    width: 245px;
    height: 263px;
    display: block;
}


.hero_imageContainer2 {
	width: 245px;
	height: 263px;
	margin:0px;
	display: block;
}

.hero_image2{
	width: 245px;
	height: 263px;
	margin:0px;
	display: block;
}

.hero_lineContainer{
	width: 74px;
	height: 7px;
	display: flex;
   margin-top: -7px;
}

.hero_line {
	width: 74px;
	height: 7px;
    margin-top: 1px;
     margin-left: 141px;
}

.description-head {
    padding-bottom: 1em;
    max-width: 44em;
    margin: auto;
    z-index: 100!important;
}


.description {
    max-width: 280px;
    display: block;
    margin-top: -7px;
}

.description_title {
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
}

.description_subTitle {
    font-family: AirbnbCereal-Light;
    width: 265px;
    /* line-height: 12; */
    height: 52px;
    text-align: center;
    font-size: 13px;
    display: block;
    /* margin-left: 0px; */
    margin: auto;
    margin-top: 46px;
}

.description_subTitle2 {
    font-family: AirbnbCereal-Light;
    width: 271px;
    /* line-height: 12; */
    height: 69px;
    text-align: center;
    font-size: 13px;
    display: block;
    /* margin-left: 0px; */
    margin: auto;
    margin-top: 8px;
}

.description_imageContainer {
	    margin: auto;
}

.description_image {
	width: 26px;
}


.tutorial_title {
    width: 280px;
    height: 23px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 46px;
}

.tutorial {
    display: block;
    width: 280px;
    height: 800px;
    margin: 0px;
    
}

.tutorial_container img {
	width: 178px;
}

#container_one {
    width: 178px;
    height: 234px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

#span-one {
    width: 158px;
    height: 34px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 21px;
    margin-bottom: 49px;

}


#container_two {
    width: 178px;
    height: 234px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

#span-two {
    width: 158px;
    height: 34px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 21px;
    margin-bottom: 49px;
}

#container_three {
    width: 178px;
    height: 234px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

#span-three {
    width: 158px;
    height: 34px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 21px;
	margin-bottom: 49px;
}

.gif_title {
    width: 280px;
    height: 23px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 46px;
}

.gifContainer {
    width: 248px;
    height: 248px;
    margin: auto;
}

.gif_image {
	width: 248px;
	 margin: auto;
}

.arrow_container {
    text-align: center;
    display: block;
    width: 280px;
   	margin: auto;
   	margin-top: 16px;
}

.arrow_image{
    width: 26px;
    height: 50px;
}


.benefit {
    display: block;
    width: 280px;
    height: 762px;
    margin: 0px;
}

.benefit_container_one {
    width: 269px;
    height: 250px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_imageContainer_one{
	width: 269px;
    height: 250px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_image_one {
	width: 178px;
}

.benefit_description_container1 {
	width: 269px;
	height: 115px;
	margin-bottom: 30px;
}

.benefit_title1 {
    font-family: AirbnbCereal-Book;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_one {
	width: 269px;
	height: 87px;
	font-family: AirbnbCereal-Light;
    margin-top: 10px;
    font-size: 13px;
   line-height: 17px;
   
}

.benefit_container_two {
    width: 308px;
    height: 221px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_imageContainer_two {
	 width: 308px;
    height: 221px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_image_two {
	width: 196px;
}


.benefit_description_container2 {
	width: 228px;
	height: 24px;
	display: inherit;
}

.benefit_title2 {
    font-family: AirbnbCereal-Book;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_two {
    display: inline-block;
    width: 257px;
    height: 70px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 17px;
}


.benefit_container_Three {
    display: inherit;
    width: 243px;
    height: 240px;
    margin-top: 57px;
    margin: auto;
}


.benefit_imageContainer_three{
	 width: 170px;
    height: 138px;
}

.benefit_image_three{
	 width: 170px;
    height: 138px;
}

.benefit_description_container3{
	width: 237px;
	height: 72px;
	display: inherit;
}

.benefit_title3 {
    font-family: AirbnbCereal-Book;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_three {
    font-family: AirbnbCereal-Light;
    margin-top: 10px;
    font-size: 13px;
    width: 237px;
	height: 72px;
	line-height: 17px;
}


.cities_image {
    position: relative;
    top: 22px;
    right: 122px;
    z-index: 3;
    width: 95px;
}

.cities_container {
	 margin-top: 30px;
	 width: 208px;
    height: 149px;
    margin: auto;
}

.cities_title {
    width: 208px;
    height: 46px;
    font-size: 17px;
    text-align: center;
    margin: 0px;
}

.cities {
    display: inline-block;
    align-items: center;
    font-size: 13px;
    font-family: AirbnbCereal-Light;
    list-style: none;
    width: 208px;
    height: 119px;
    margin: auto;
}

.cities li {
	margin-bottom:7px;
}

.line {
	margin-top: 35px;
}

footer {
	width: 280px;
	height: 130px;
}

.footer_title {
    font-size: 18px;
    margin: 40px auto ;
    margin-bottom: 12px;
    width: 221px;
    height: 69px;
    font-family: AirbnbCereal-Book;
}

.form-email {
    display: flex;
    width: 178.97px;
	height: 33px;
    
}


.footer-ctaContainer {
	width: 178.97px;
	height: 57px;
}

.footer-cta {
    font-family: AirbnbCereal-Book;
    width: 221px;
    height: 33px;
    border-radius: 6px 0 0 6px;
    border-right: none;
    border: 1px solid #979797;
    padding-left: 0.7em;
    border: 1px solid #E80C46;
    font-size: 13px;
}

.footer-btn {
    font-family: AirbnbCereal-Book;
    padding: 0;
    width: 101.05px;
    height: 37px;
    border-color: #E80C46;
    background-color: #E80C46;
    border-radius: 0px 6px 6px 0px;
    color: lemonchiffon;
    cursor: pointer;
    margin-left: -1px;
    border: 1px solid #E80C46;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 58px; */
    margin-bottom: 30px;
}

.contenedor2 {
    width: auto;
    max-width: auto;
    margin: auto;
    /* margin-top: 40px; */
}


}

@media screen and (max-width: 320px) {

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dzni82');
  src:  url('fonts/icomoon.eot?dzni82#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dzni82') format('truetype'),
    url('fonts/icomoon.woff?dzni82') format('woff'),
    url('fonts/icomoon.svg?dzni82#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel:before {
  content: "\ea0d";
}

.pagina {
	
	/*width: 1120px;*/
	text-align:center;
	max-width: 280px;
	margin: auto;
	/*margin-top: 10px;*/
	/*color: #6772e5; */
			
}

header {
	margin-top:10px;
}

header ol {
	display: none;
	
}

header li {
	display: inline;

}

header figure {
	margin: 0px
	float: right;
	display: flex;
    align-items: center;
    margin: auto;
}
.div {
	display: flex;
	margin-left: auto;
}



.contenedor{
	position: fixed;
}

.menu {
	/*width: 1120px;*/
	display: flex;
	margin-top:18px;
	margin: auto;
	max-width: 280px;
}



.menu_urlContent_320 {
	position: fixed;
	width:100%;
	margin: auto;
	list-style: none;
	display: block;
	background: rgba(232, 12, 70, .8 );
    color: white;
	text-decoration: none;
	/*padding: 7px 13px 5px 14px;*/
	font-size: 15px;
	box-shadow: 0px 0px 3px #999;
	left: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	transition: .3s;
}

.menu_urlContent_320.active{
	left: 0px;
	padding-left: inherit;
}

.menu_urlContent_320 ol {
	padding: 10px;
}

.menu_urlContent_320 li{
	flex: 1;
  	
}

.menu_url_2 {
	display: initial;
    color: white;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 15px;
	width: 100%
	flex:1;
	border: 1px solid white;
	border-radius:5px;
}

.menu_urlContent {
	display: none;
	background: #e80c46;
    color: white;
    border-radius: 5px;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 15px;
	box-shadow: 0px 0px 3px #999;
}

.menu_url {
	display: none;
	background: #e80c46;
    color: white;
    border-radius: 5px;
	text-decoration: none;
	padding: 7px 13px 5px 14px;
	font-size: 10px;
	box-shadow: 0px 0px 3px #999;
}





.burguer-button{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background:#E80C46;
	color: #ffffff;
	cursor: pointer;
	z-index: 3;
	margin-left: -30px;
    margin-top: -15px;
    position: fixed;
}

.menu_hamburguer{
	display: none; /*inline*/
	float: right;
	margin: 0px;
	width: 30px;
	height: 16px;
}

.menu_contentBtn{
	display: none; /*inline-flex*/
	float: right;
	margin-left: auto;
	width: 30px;
	height: 16px;
	margin: auto;
}

/*hero 320px*/

.hero {
    width: 245px;
    height: 399px;
    display: inline-block;
    text-align: center;
    
}

.hero-copys {
    width: 245px;
    height: 399px;
    margin: 0;
    display: block;
    text-align: center;
}

.hero_title {
    width: 240px;
    height: 49px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.2px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    font-family: AirbnbCereal-Bold;
}

.hero_subtitle {
	display:none;
}

.hero_subtitle2{
	 font-family: AirbnbCereal-Light;
	width: 248px;
	height: 34px;
	font-size: 13px;
	display:block;
	margin-top: 14px;
    margin-bottom: 0px;
}


.hero_imageContainer {
	width: 245px;
	height: 263px;
	margin:0px;
	display: none;
}

.hero_image{
	width: 245px;
	height: 263px;
	margin:0px;
	display: none;
}


.hero_imageContainer2 {
    width: 245px;
    height: 263px;
    display: block;
}


.hero_imageContainer2 {
	width: 245px;
	height: 263px;
	margin:0px;
	display: block;
}

.hero_image2{
	width: 245px;
	height: 263px;
	margin:0px;
	display: block;
}

.hero_lineContainer{
	width: 74px;
	height: 7px;
	display: flex;
   margin-top: -7px;
}

.hero_line {
	width: 74px;
	height: 7px;
    margin-top: 1px;
     margin-left: 141px;
}


.description {
    max-width: 280px;
    display: block;
    margin-top: -7px;
}

.description_title {
    font-size: 18px;
    text-align: center;
}

.description_subTitle {
    font-family: AirbnbCereal-Light;
    width: 265px;
    /* line-height: 12; */
    height: 52px;
    text-align: center;
    font-size: 13px;
    display: block;
    /* margin-left: 0px; */
    margin: auto;
    margin-top: 46px;
}

.description_subTitle2 {
    font-family: AirbnbCereal-Light;
    width: 271px;
    /* line-height: 12; */
    height: 69px;
    text-align: center;
    font-size: 13px;
    display: block;
    /* margin-left: 0px; */
    margin: auto;
    margin-top: 8px;
}

.description_imageContainer {
	    margin: auto;
}

.description_image {
	width: 26px;
}


.tutorial_title {
    width: 280px;
    height: 23px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 46px;
}

.tutorial {
    display: block;
    width: 280px;
    height: 800px;
    margin: 0px;
    
}

.tutorial_container img {
	width: 178px;
}

#container_one {
    width: 178px;
    height: 234px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

#span-one {
    width: 158px;
    height: 34px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 21px;
    margin-bottom: 49px;

}


#container_two {
    width: 178px;
    height: 234px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

#span-two {
    width: 158px;
    height: 34px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 21px;
    margin-bottom: 49px;
}

#container_three {
    width: 178px;
    height: 234px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

#span-three {
    width: 158px;
    height: 34px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 21px;
	margin-bottom: 49px;
}

.gif_title {
    width: 280px;
    height: 23px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 46px;
}

.gifContainer {
    width: 248px;
    height: 248px;
    margin: auto;
}

.gif_image {
	width: 248px;
	 margin: auto;
}

.arrow_container {
    text-align: center;
    display: block;
    width: 280px;
   	margin: auto;
   	margin-top: 46px;
}

.arrow_image{
    width: 26px;
    height: 50px;
}


.benefit {
    display: block;
    width: 280px;
    height: 812px;
    margin: 0px;
}

.benefit_container_one {
    width: 269px;
    height: 250px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_imageContainer_one{
	width: 269px;
    height: 250px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_image_one {
	width: 178px;
}

.benefit_description_container1 {
	width: 269px;
	height: 115px;
}

.benefit_title1 {
    font-family: AirbnbCereal-Book;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_one {
	width: 269px;
	height: 87px;
	font-family: AirbnbCereal-Light;
    margin-top: 10px;
    font-size: 13px;
   line-height: 17px;
   
}

.benefit_container_two {
    width: 308px;
    height: 221px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_imageContainer_two {
	 width: 308px;
    height: 221px;
    display: inline;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.benefit_image_two {
	width: 196px;
}


.benefit_description_container2 {
	width: 228px;
	height: 24px;
	display: inherit;
}

.benefit_title2 {
    font-family: AirbnbCereal-Book;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_two {
    display: inline-block;
    width: 257px;
    height: 70px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 17px;
}


.benefit_container_Three {
    display: inherit;
    width: 243px;
    height: 240px;
    margin-top: 57px;
    margin: auto;
}


.benefit_imageContainer_three{
	 width: 170px;
    height: 138px;
}

.benefit_image_three{
	 width: 170px;
    height: 138px;
}

.benefit_description_container3{
	width: 237px;
	height: 72px;
	display: inherit;
}

.benefit_title3 {
    font-family: AirbnbCereal-Book;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 0px;
}

.benefit_description_three {
    font-family: AirbnbCereal-Light;
    margin-top: 10px;
    font-size: 13px;
    width: 237px;
	height: 72px;
	line-height: 17px;
}


.cities_image {
    position: relative;
    top: 22px;
    right: 122px;
    z-index: 3;
    width: 95px;
}

.cities_container {
	 width: 208px;
    height: 149px;
    margin: auto;
}

.cities_title {
    width: 208px;
    height: 46px;
    font-size: 17px;
    text-align: center;
    margin: 0px;
}

.cities {
    display: inline-block;
    align-items: center;
    font-size: 13px;
    font-family: AirbnbCereal-Light;
    list-style: none;
    width: 208px;
    height: 119px;
    margin: auto;
}

.cities li {
	margin-bottom:7px;
}

.line {
	margin-top: 35px;
}

footer {
	width: 280px;
	height: 270px;
}

.footer_title {
    font-size: 18px;
    margin: 40px auto ;
    margin-bottom: 12px;
    width: 221px;
    height: 69px;
    font-family: AirbnbCereal-Book;
}

.form-email {
    display: flex;
    width: 178.97px;
	height: 33px;
    margin-bottom: 70px;
}


.footer-ctaContainer {
	width: 178.97px;
	height: 57px;
}

.footer-cta {
    font-family: AirbnbCereal-Book;
    width: 221px;
    height: 33px;
    border-radius: 6px 0 0 6px;
    border-right: none;
    border: 1px solid #979797;
    padding-left: 0.7em;
    border: 1px solid #E80C46;
}

.footer-btn {
    font-family: AirbnbCereal-Book;
    padding: 0;
    width: 101.05px;
    height: 37px;
    border-color: #E80C46;
    background-color: #E80C46;
    border-radius: 0px 6px 6px 0px;
    color: lemonchiffon;
    cursor: pointer;
    margin-left: -1px;
    border: 1px solid #E80C46;
}

.form-email {
    display: flex;
    width: 178.97px;
    height: 33px;
    margin-bottom: 0px;
    /* margin-bottom: 70px; */
}



}